@model LoginViewModel

@{
	ViewData["Title"] = "Login";
}
@{
	Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<title>Login - Procurment System</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"></Link>
	</head>
    <body class="bg-light">
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col card p-4 shadow">
					<h2 class="text-center">Login</h2>
					<form asp-action="Login" asp-controller="Login" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div>
							<label>Email</label>
							<input asp-for="UserEmail" class="form-control" />
							<span asp-validation-for="UserEmail" class="text-danger"></span>
						</div>
						<div>
							<label>Passcode</label>
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>

						</div>
						<button type="submit" class="btn btn-primary w-100 mt-5">Sign In</button>
					</form>
				</div>

			</div>
		</div>
	</body>
</html>